
  .my-custom-scrollbar {
    position: relative;
    height: 330px;
    overflow-y: auto;
    overflow-x: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  .ReactModal__Overlay {
      opacity: 0;
      transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open{
      opacity: 1;
  }
  
  .ReactModal__Overlay--before-close{
      opacity: 0;
      
  }
  .space{
    height: 30px;
  }
  .ecart{
    width: 30px;
  }
 
 
